name: Build develop

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      packages: read

    steps:
      - uses: tiogars/maven-build-action@v1.0.5
        with:
          setup-java-server-username: ${{ github.actor }}
          setup-java-server-password: ${{ secrets.GITHUB_TOKEN }}