name: Build develop

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: tiogars/maven-build-action@v1.0.8
        with:
          setup-java-token: ${{ secrets.TIOGARS_GITHUB_READ_PACKAGES_PAT }}
