name: Build develop

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: tiogars/maven-build-action@v1.0.6
        with:
          setup-java-server-username: ${{ github.actor }}
          setup-java-server-password: ${{ secrets.GITHUB_TOKEN }}