name: Release

on:
  workflow_dispatch:
    inputs:
      nextSnapshotIndexToIncrement:
        description: 'Index of the snapshot version to increment (1-based) ; ex:
          - for 1, 1.0.0-SNAPSHOT -> 2.0.0
          - for 2, 1.0.0-SNAPSHOT -> 1.1.0
          - for 3, 1.0.0-SNAPSHOT -> 1.0.1'
        required: false
        default: '3'

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      packages: write

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'
          server-id: github
          server-username: ${{ github.actor }}
          server-password: ${{ secrets.GITHUB_TOKEN }}

      - name: Change Maven version
        run: mvn versions:set -DnextSnapshot=false -DnextSnapshotIndexToIncrement=${{ github.event.inputs.nextSnapshotIndexToIncrement }}

      - run: mvn clean install

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ghcr.io/${{ github.repository }}:
            ghcr.io/${{ github.repository }}:latest